.container-results {
  width: 100%;
  min-height: 1000px;
  border: 1px solid #000;
  display: flex;
}

.leftBlock {
  width: 20%;
  background-color: gray;
}

.rightBlock {
  align-items: center;
  width: 80%;
  padding: 10px;
  box-sizing: border-box;
  background-color: orange;
  display: flex;
  flex-direction: column;
}

.hotel-list {
  list-style-type: none;
  margin: 30px 0 0 0;
  padding: 0 0 0 20px;
  box-sizing: border-box;
}

.hotel-item {
  margin-bottom: 10px;
  box-shadow: none;
}

.loading {
  margin: 200px auto;
}
