.wrapper {
    width: 85%;
    height: 250px;
    margin: 0 auto;
    box-shadow:
    0 1px 4px rgba(0, 0, 0, .3),
    -23px 0 20px -23px rgba(0, 0, 0, .8),
    23px 0 20px -23px rgba(0, 0, 0, .8),
    0 0 40px rgba(0, 0, 0, .1) inset;
}

.wrapper_data {
    width: 85%;
    height: 100px;
    margin: 0 auto;
    box-shadow:
    0 1px 4px rgba(0, 0, 0, .3),
    -23px 0 20px -23px rgba(0, 0, 0, .8),
    23px 0 20px -23px rgba(0, 0, 0, .8),
    0 0 40px rgba(0, 0, 0, .1) inset;
}

.title {
    margin-left: 115px;
    margin-bottom: 10px;
    margin-top: 50px;
}

.wrap_text {
    padding-top: 20px;
    margin-left: 15px;
    color: #5f5984;
}

.text {
    padding-top: 20px;
    margin-left: 15px; 
    color: #5f5984;
}