.form {
  display: flex;
  justify-content: center;
  width: 100%;
  // margin: 200px 350px;
  border-radius: 20px;
}

.css-1jzzsew-MuiInputBase-root-MuiFilledInput-root {
  border-radius: 12px;
}

.css-1phkpwm-MuiInputBase-root-MuiFilledInput-root {
  border-radius: 12px;
}
