.main {
  width: 90%;
  margin: 0 auto;
  background-color: rgb(252 248 252);
  border-radius: 20px;
  box-shadow: 0 0 10px rgb(0 0 0 / 50%);
}

.textH1 {
  color: rgb(93, 51, 99);
  margin-left: 40px;
  padding-top: 15px;
}

.textH2 {
  color: rgb(93, 51, 99);
  margin-left: 40px;
  padding-top: 50px;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
  padding: 20px;
  justify-content: space-between;
  margin-left: 15px;
  margin-right: 15px;
}
.city {
  padding: 1%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin: 10px;
  border-radius: 5px;
  width: 15%;
}

.link {
  margin-left: 35px;
}

.wrapl_ink {
  margin: 0px 10px 10px 0px;
}
