.wrap {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.section {
  background-image: url(../../images/zamok.jpg);
  width: 100%;
  /* height: 1050px; */
  background-size: cover;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 200px 0;
  box-sizing: border-box;
  /* position: relative; */
}

.logo {
  max-width: 500px;
  width: 50%;
}

.text {
  /* position: absolute; */
  /* top: 80%;
  left: 7%; */
  width: 100%;
  font-size: 20px;
  font-family: sans-serif;
  color: #f7f6f2;
}

.button {
  /* position: absolute; */
  top: 87%;
  left: 30%;
  font-size: 20px;
  font-family: sans-serif;
  color: #f7f6f2;
  font-weight: bold;
  margin: 0 5px 0 0;
}

.svg {
  width: 25px;
  /* position: absolute; */
  top: 87.5%;
  left: 34%;
}

.wrapper {
  /* position: absolute; */
  /* top: 3%;
  left: 60%; */
  width: 50%;
  text-align: right;
}

.wrp {
  max-width: 500px;
  width: 100%;
  margin: 0 0 0 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

/* @media (max-width: 1000px) {
  .wrapper {
    position: absolute;
    top: 10%;
    left: 30%;
  }

  .svg {
    display: none;
  }
} */
